.about_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
}

.about_bullet_image{
    position: relative;
    width: 20vw;
    height: 20vw;
    border:  8px solid #2a275d;
    background-color: black;
    border-radius: 50%;
    color: red;
    text-align: center;
    top : -5vw;
    align-self: center;
    
}

.about_description{
    width: 90vw;
    display:flex;
    flex-flow: row nowrap;
    margin:auto;
    
}

.about_description_tittle{
    
    margin-right: 40px;
    min-width: 204px;
}   
.about_description_content{
    text-align: justify;
    width: 70%;
    min-width: 500px;
}