<nav class="header w-100">
  <div class="header_left">
    <span>
      <img src="../../../assets/images/banner-ok-argentina-programa.ico"/>
    </span>
  </div>
  <div class="header_right">
    <div class = "header_right_mobile">
      <button class="navbar-toggler mb-2 mb-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
    </div>
    <div class="header_right_lg">
      <ul class="header_right_lg_sections">
        <li class="lg_sections_item mx-2">
          <a class="nav-link" aria-current="page" href="#"><fa-icon size="2x" [icon]="faInstagram"></fa-icon></a>
        </li>
        <li class="lg_sections_item mx-2">
          <a class="nav-link" href="#"><fa-icon size="2x" [icon]="faGithub"></fa-icon></a>
        </li>
        <li class="lg_sections_item mx-2">
          <a class="nav-link" href="#"><fa-icon size="2x" [icon]="faLinkedin"></fa-icon></a>
        </li>
      </ul>
      <form class="d-flex login_form_button">
        <button class="btn btn-outline-light mb-3" type="submit"><fa-icon [icon]="faKey"></fa-icon>Log in</button>
      </form>
    </div>
  </div>
</nav>