<!-- <div class="study_card">
        <circle-progress
        [percent]="study.done"
        [backgroundColor] ="circleprop.backgroundColor"
        [outerStrokeGradient] = "circleprop.outerStrokeGradient"
        [outerStrokeColor] = "circleprop.outerStrokeColor"
        [outerStrokeGradientStopColor] = "circleprop.outerStrokeGradientStopColor"
        [titleColor] = "circleprop.titleColor"
        [unitsColor] = "circleprop.unitsColor"
        [subtitleColor] = "circleprop.subtitleColor"
        >

        </circle-progress>

<p>{{study.done}} %</p>
<p>{{study.course}}</p>
<p>{{study.institution}}</p>
</div> -->
<div class="study_card" >
        <div class="study_card_rating">
         <h2><span class="study_card_counter" [attr.data-target]="'#demo'+ study.done">{{study.done}}</span><sub>%</sub><br/>{{study.course}}<br/>{{study.institution}}</h2>
         <div class="study_card_block" ></div>
        </div> 
</div>