<div class="experience_dialog_container">
    <mat-dialog-content class="mat-typography">
    
    <h3 style="color:white">0: Object {{"{"}}</h3>
    <div style="color:white">
        <h4>0: Knowledge: {{"{"}}</h4><p>{{ knowledge}}</p><h4>{{"}"}}</h4>
        <h4>1: References: {{"{"}}</h4>
        <p>name: {{ contacts.name}}</p>
        <p>cel: {{ contacts.cel}}</p>
        <p>linkedin: {{ contacts.linkedin}}</p>
        <h4>{{"}"}}</h4>
        
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="dialog_container_close" mat-button mat-dialog-close><span>break;</span></button>
</mat-dialog-actions>
</div>