.experience_dialog_container {
    background-color: rgba(37, 36, 40, 0.77);
    border-radius: 10px;


}

.detail_container {
    background-color: rgb(39, 39, 39);

    border-radius: 10px;
}

::ng-deep .detail_container .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent;
    border-radius: 10px;
}

.dialog_container_close {
    background-color: rgba(24, 23, 28, 0.75);
    color:rgb(190, 63, 190);
    font-family: 'Fira Code', monospace;
    border: none;
    padding-inline: 1rem;
    border-radius: 97.3rem;
}

.dialog_container_close:hover {
    background-color: rgba(61, 61, 61, 0.75);
    color: rgb(238, 78, 238); 
}


.dialog_container_close:hover span{
    text-shadow: 0.5px 0.5px 1px  rgb(240, 189, 240);

}