.parallax {
    background-image:url('../../../assets/images/background_banner.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    max-width: 100vw;
    min-width: 100vw;

}

